.statistic-row {
    align-items: center;
    column-gap: 0.5em;
    margin-bottom: 0.25em;
    margin-top: 0.25em;

    .statistic-name {
        font-weight: bold;
        text-align: right;
        width: 9em;
    }

    .statistic-explanation {
        flex-basis: 20em;
        flex-grow: 1;
    }

    .statistic-variable-name {
        text-align: right;
        // width: 14em;
    }
}
