.creation-step {
    justify-content: space-between;
    padding-top: 1em;
    border-top: 1px solid gray;
    margin-top: 1em;

    .explanation {
        flex-grow: 1;
        margin-right: 2em;
        width: 20em;
    }

    .mechanics {
        width: 20em;
    }

    .attributes, .attribute-scaling {
        margin-top: 0;
        margin-bottom: 0;
        justify-content: space-between;
    }

    .archetype-name {
        flex-grow: 1;
        margin-right: 1em;
    }

    .total-trainable-skills {
        justify-content: center;
        margin-bottom: 0.5em;
        > .number-label {
            flex-grow: 0;
        }
    }

    .base-class {
        width: 8em;
    }

    .species {
        width: 10em;
    }

    .skill-row {
        column-gap: 1em;
        justify-content: space-between;
        margin-bottom: 0.1em;
    }
}
