.skill-box {
    width: 100%;
    align-items: center;
}

.skill-box input[type=number] {
    box-shadow: 0 0 2px 1px #999 inset;
    height: 1.5em;
}

.skill-box .number-label {
    font-size: 1em;
    text-align: right;
}

/* section-specific formatting */

#boring-stuff {
    margin-top: 0.25em;
}

#boring-stuff .labeled-text-input {
    flex-grow: 1;
    flex-basis: 20%;
}

#attacks, #main-sheet-body, #resources {
    flex-grow: 1;
}

#main-sheet-body > div {
    margin-bottom: 0.52em;
}

input[type=text].passive-ability {
    width: 100%;
    /*margin-bottom: 0.5em;*/
}

.passive-ability-row > div {
    flex-grow: 1;
}

#defenses {
    margin-left: 0;
}

#hit-points {
    margin-right: 0;
}

.active-ability-name, .attack-name {
    width: 25%;
}

.active-ability-effect, .attack-effect {
    flex-grow: 1;
}

.flex-col.attribute-section {
    margin-bottom: 0.625em;
}

.flex-row.skill-box {
    margin-bottom: -1px;
}

.attribute {
    align-items: center;
}

.attribute .number-label {
    font-weight: bold;
}

#other-skills .attribute {
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
}

#constitution {
    margin-bottom: 0.25em;
}

#willpower {
    margin-bottom: 0;
}

#sidebar {
    margin-left: 1px;
}

#main-sheet-body {
    margin-right: 1px;
}

.active-ability, .attack {
    margin-bottom: 0.1em !important;
}

#other-skills .attribute {
    margin-bottom: 0;
}

.resource-row div {
    flex-grow: 1;
}
