.skill-box {
    width: 100%;
    align-items: center;
}

.skill-box input[type=number] {
    box-shadow: 0 0 2px 1px #999 inset;
    height: 1.75em;
}

.skill-box .number-label {
    font-size: 1em;
    text-align: right;
}

/* section-specific formatting */

#boring-stuff {
    margin-top: 0.25em;
}

#boring-stuff .flex-row > span {
    flex-grow: 1;
    flex-basis: 20%;
}

.section-header {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    background-color: #FFF0C8;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border-radius: 0.5em;
}

#attacks, #main-sheet-body, #passive-abilities {
    flex-grow: 1;
}

input[type=text].passive-ability {
    width: 100%;
    margin-bottom: 0.5em;
}

#defenses {
    margin-left: 0;
}

#hit-points {
    margin-right: 0;
}

.active-ability-name, .attack-name {
    width: 25%;
}

.active-ability-effect, .attack-effect {
    flex-grow: 1;
}

.flex-col.attribute-section {
    margin-bottom: 0.75em;
}

.flex-row.skill-box {
    margin-bottom: -1px;
}

.attribute .number-label {
    font-weight: bold;
}

#constitution {
    margin-bottom: 0.25em;
}

#willpower {
    margin-bottom: 0;
}

#rise-title {
    font-family: "Old English Text MT";
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 0;
}

#sidebar {
    margin-left: 1px;
}

#main-sheet-body {
    margin-right: 1px;
}
