.attunement, .armor-definition {
    gap: 0.5em;
    .usage-class-dropdown {
        margin-right: 0.5em;
        width: 80px;

        select {
            width: 80px;
        }
    }
}
.name {
    width: 18em;
}
.armor-row {
    flex-grow: 1;
    gap: 2em;
}
.armor-speed > input[type=number] {
    width: 50px;
}
.armor-definition {
    justify-content: space-between;
    flex-grow: 1;

    > div {
        flex-basis: 4em;
    }

    > div.name {
        flex-basis: 22em;
    }
}
.attunement-effect, .weapon-effects {
    flex-grow: 1;
}
.weapons-explanation {
    margin-bottom: 0.5em;
}
.weapon {
    margin-top: 1em;

    .weapon-input, .weapon-calcs {
        gap: 0.5em;
    }

    .weapon-damage-dice {
        width: 8em;
    }

    .weapon-name {
        flex-grow: 1;
    }
    .weapon-tags {
        width: 18em;
    }
}

.attune-points {
    align-items: baseline;
    margin-bottom: 0.5em;

    .number-label {
        flex-grow: 0;
        margin-right: 0.5em;
    }
}

.equipment-name {
    width: 15em;
    margin-right: 0.5em;
}
.equipment-effects {
    flex-grow: 1;
}

.proficiencies {
    justify-content: space-between;
    gap: 0.5em;

    > div {
        flex-grow: 1;
    }
}

.legacy-item {
    .text-prefix {
        display: none;
    }
}

.attunement-abilities {
    .custom-modifier-dropdowns {
        margin-left: 3.5em;
    }

    .custom-modifier-details {
        width: 80%;

        .text-prefix {
            column-gap: 1em;
            flex-grow: 1;

            .effect {
                min-width: 20em;
            }
        }
    }
}

.inventory {
    height: 8em;
}

.paper {
    .usage-class {
        flex-basis: 8em;
    }

    textarea {
        width: calc(100% - 0.5em);
    }
    .is-active {
        font-size: 14pt;
    }

    .inventory {
        height: 14em;
    }

    .repeating_legacymodifiers {
        display: none;
    }

    .legacy-item-effect {
        height: 6em;
    }

    .weapons-explanation {
        display: none;
    }
}

.weapons-explanation {
    margin-bottom: 0.25em;
}

.wealth-items {
    justify-content: space-between;

    .wealth-items-label {
        font-size: 1.1em;
    }

    .currency {
        width: 10em;
    }
}

.weight-limits {
    gap: 1em;
}
