.attunement {
    .attunement-name {
        width: 15em;
        margin-right: 0.5em;
    }

    .usage-class-dropdown {
        margin-right: 0.5em;
        width: 80px;

        select {
            width: 80px;
        }
    }
}
.attunement-effect, .weapon-effects {
    flex-grow: 1;
}
.weapon-name, .weapon-accuracy, .calculated-weapon-damage-dice, .weapon-damage-dice, .weapon-tags {
    margin-right: 0.5em;
}
.weapon-damage-dice, .calculated-weapon-damage-dice {
    width: 4em;
}
.weapon-name {
    width: 10em;
}
.weapon-tags {
    width: 15em;
}

.paper .usage-class {
    width: 10em;
}

.attune-points {
    align-items: baseline;
    margin-bottom: 0.5em;

    .number-label {
        flex-grow: 0;
        margin-right: 0.5em;
    }
}

.equipment-name {
    width: 15em;
    margin-right: 0.5em;
}
.equipment-effects {
    flex-grow: 1;
}

.paper {
    textarea {
        width: calc(100% - 0.5em);
        height: 12em;
    }
    .is-active {
        font-size: 14pt;
    }
}
