.attunement {
    .attunement-effect {
        flex-grow: 1;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .attunement-name {
        width: 15em;
    }
}

.attune-points {
    align-items: baseline;
    margin-bottom: 0.5em;

    .number-label {
        flex-grow: 0;
        margin-right: 0.5em;
    }
}

.equipment-name {
    flex-grow: 1;
}
.equipment-effects {
    flex-grow: 2;
}
