// Need this extra layer of precision to override settings in sheet.less
div.full-sheet {
    .creation-guidance {
        width: 16em;

        .description, .archetypes, .combat-styles-and-mystic-spheres, .other-ability-groups, .feats {
            height: 7em;
        }
    }
    .abilities {
        margin-left: 0.25em;
        flex-grow: 1;

        .ability-name {
            width: 10em;
        }
        .ability-effects {
            margin-left: 0.25em;
            flex-grow: 1;
        }

        .insight-point-allocation {
            height: 7em;
        }
        .active-abilities-known {
            // This odd height helps sync up the bottom of the page
            height: 14.56em;
        }
    }

    .calc-blank-header {
        align-self: end;
        width: 7em;
        border-bottom: 1px solid black;
    }
}
