// Need this extra layer of precision to override settings in sheet.less
div.full-sheet {
  .creation-guidance {
    width: 23em;

    > div {
      padding-right: 0.2em;
    }

    .species-and-size {
      gap: 1em;

      .species,
      .size {
        flex-grow: 1;
      }
    }

    .abilities-chosen {
        height: 18em;
    }

    .proficiencies,
    .character-description,
    .archetypes,
    .other-ability-groups,
    .feats {
      height: 7.5em;
    }
  }
  .calculations {
    margin-left: 0.5em;
    flex-grow: 1;

    .equation {
        margin-bottom: 1px;
    }
  }

  .resources {
    gap: 1em;

    .abilities-chosen-wrapper {
      flex-grow: 1;

      .abilities-chosen {
        height: 340px;
      }
    }
  }

  .calc-blank-header {
    align-self: end;
    width: 7em;
    border-bottom: 1px solid black;
  }


    .calc-header {
      font-weight: normal;
    }

    .mini-divider {
        margin-top: 4px;
        margin-bottom: 4px;
    }
}
