.ability-name-container {
  flex-basis: 40%;
}

.ability-action-container {
  flex-basis: 20%;
}

.ability-type-container {
  flex-basis: 20%;
}

.ability-targets-container {
  flex-basis: 60%;
}

.ability-range-container {
  flex-basis: 20%;
}

.ability-card {
  flex-grow: 1;
  border: 1px solid black;
  box-shadow: 0 0 0px 1px inset;
}

.ability-card > .flex-row {
  flex-grow: 1;
}

.card-header {
  margin-top: 0.2em;
  margin-bottom: 0 !important;
}

.card-targeting {
  margin-top: 0;
  margin-bottom: 0.1em !important;
}

.card-header > div,.card-targeting > div,.card-content > div {
  flex-grow: 1;
}

.card-effect-separator {
  background-color: #666;
  height: 2px;
}

.card-subeffect-separator {
  background-color: #BBB;
  height: 2px;
}

.ability-effect {
  height: 9.5em;
}

.ability-subeffect {
  height: 2em;
}

.power-container {
  flex-grow: 1;
}

.calc-header {
  width: auto;
}

.resources-container {
  flex-grow: 1;
}

.resources {
  flex-grow: 1;
  height: 2em;
  border-bottom: 1px black solid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.skill-box {
  width: 100%;
  align-items: center;
}

.skill-box input[type=number] {
  box-shadow: 0 0 2px 1px #999 inset;
  height: 1.5em;
}

.skill-box .number-label {
  font-size: 1em;
  text-align: right;
}

/* section-specific formatting */

#boring-stuff {
  margin-top: 0.25em;
}

#boring-stuff .labeled-text-input {
  flex-grow: 1;
  flex-basis: 20%;
}

#attacks,#resources {
  flex-grow: 1;
}

#sheet-main-body {
  flex-grow: 1;
}

#resources {
  flex-grow: 1;
}

#main-sheet-body > div {
  margin-bottom: 0.52em;
}

input[type=text].passive-ability {
  width: 100%;
  /*margin-bottom: 0.5em;*/
}

.passive-ability-row > div {
  flex-grow: 1;
}

#defenses {
  margin-left: 0;
}

#hit-points {
  margin-right: 0;
}

.active-ability-name,.attack-name {
  width: 25%;
}

.active-ability-effect,.attack-effect {
  flex-grow: 1;
}

.flex-col.attribute-section {
  margin-bottom: 0.625em;
}

.flex-row.skill-box {
  margin-bottom: -1px;
}

.attribute {
  align-items: center;
}

.attribute .number-label {
  font-weight: bold;
}

#other-skills .attribute {
  font-weight: bold;
  font-size: 1.25em;
  text-align: center;
}

#constitution {
  margin-bottom: 0.25em;
}

#willpower {
  margin-bottom: 0;
}

#sidebar {
  margin-left: 1px;
}

#main-sheet-body {
  margin-right: 1px;
}

.active-ability,.attack {
  margin-bottom: 0.1em !important;
}

#other-skills .attribute {
  margin-bottom: 0;
}

.resource-row div {
  flex-grow: 1;
}

/* buttons shouldn't appear on paper */

button {
  border: 0;
  color: inherit;
  cursor: inherit;
  background-color: inherit;
}

body {
  height: 10.5in;
  width: 8in;
  padding: 0;
  box-shadow: 0 0 2px 1px inset;
}

.ui-dialog {
  width: 100%;
  height: 100%;
}

input[type=text] {
  box-shadow: none !important;
  border-bottom: 1px solid black;
}

input[type=number] {
  border: 2px solid black;
  box-shadow: none !important;
}

.skill-box input[type=number],#level-chart input[type=number],.eq-misc input[type=number] {
  border: 1px solid #AAA;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  display: none;
  margin: 0;
}

/*
 * MAIN SHEET
 * */

body {
  font-size: 16px;
  overflow: visible;
  margin: 0;
  padding: 0;
  font-family: Calibri;
}

/* roll20 corrections

.sheet-ui-dialog.ui-dialog-content {
    position: relative !important;
}

.sheet-root {
    padding: 0;
}

*/

/* row/col system */

.sheet-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.sheet-flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.sheet-flex-row > div,.sheet-flex-row > span {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.sheet-flex-col > div,.sheet-flex-col > span {
  margin-bottom: 0.5em;
}

.sheet-flex-col > div {
  width: 100%;
}

/* text and input formatting */

.sheet-labeled-number-input,.sheet-unlabeled-number-input, {
  width: 100%;
  align-items: center;
}

.sheet-number-label {
  flex-grow: 1;
  font-size: 1.25em;
  text-align: center;
}

input {
  font-size: 1em;
  padding: 0;
}

input[type=text] {
  height: 2em;
  border: 0;
  box-shadow: 0px -2px 1px -2px #000000 inset;
  background-color: inherit;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input[type=number] {
  width: 2.5em;
  height: 2em;
  border: 0;
  box-shadow: 0 0 2px 1px inset;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.sheet-labeled-text-input input[type=text] {
  width: 100%;
}

.sheet-underlabeled-number-input {
  align-items: center;
}

.sheet-underlabeled-number-input input[type=number] {
  display: block;
  height: 2em;
}

.sheet-unlabeled-number-input input[type=text] {
  flex-grow: 1;
  width: auto;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.sheet-under-label {
  font-size: 0.9em;
  margin-bottom: 0 !important;
  text-align: center;
}

/* Rise-specific formatting */

.sheet-section-header {
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  background-color: #FFF0C8;
  padding-left: 0.25em;
  padding-right: 0.25em;
  border-radius: 0.5em;
}

.sheet-rise-title {
  font-family: "Old English Text MT";
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 0;
}

/*
 * FIRST PAGE
 * */

.sheet-skill-box {
  width: 100%;
  align-items: center;
}

.sheet-skill-box input[type=number] {
  box-shadow: 0 0 2px 1px #999 inset;
  height: 1.5em;
}

.sheet-skill-box .sheet-number-label {
  font-size: 1em;
  text-align: right;
}

/* section-specific formatting */

.sheet-boring-stuff {
  margin-top: 0.25em;
}

.sheet-boring-stuff .sheet-labeled-text-input {
  flex-grow: 1;
  flex-basis: 20%;
}

.sheet-attacks,.sheet-main-body,.sheet-resources {
  flex-grow: 1;
}

.sheet-main-body > div {
  margin-bottom: 0.52em;
}

input[type=text].passive-ability {
  width: 100%;
  /*margin-bottom: 0.5em;*/
}

.sheet-passive-ability-row > div {
  flex-grow: 1;
}

.sheet-defenses {
  margin-left: 0;
}

.sheet-hit-points {
  margin-right: 0;
}

.sheet-active-ability-name,.sheet-attack-name {
  width: 25%;
}

.sheet-active-ability-effect,.sheet-attack-effect {
  flex-grow: 1;
}

.sheet-flex-col.attribute-section {
  margin-bottom: 0.625em;
}

.sheet-flex-row.skill-box {
  margin-bottom: -1px;
}

.sheet-attribute {
  align-items: center;
}

.sheet-attribute .sheet-number-label {
  font-weight: bold;
}

.sheet-other-skills .sheet-attribute {
  font-weight: bold;
  font-size: 1.25em;
  text-align: center;
}

.sheet-constitution {
  margin-bottom: 0.25em;
}

.sheet-willpower {
  margin-bottom: 0;
}

.sheet-sidebar {
  margin-left: 1px;
}

.sheet-main-sheet-body {
  margin-right: 1px;
}

.sheet-active-ability,.sheet-attack {
  margin-bottom: 0.1em !important;
}

.sheet-other-skills .sheet-attribute {
  margin-bottom: 0;
}

.sheet-resource-row div {
  flex-grow: 1;
}

/*
 * SECOND PAGE
 * */

.sheet-level-chart,.sheet-abilities,.sheet-calcs {
  flex-grow: 1;
}

input[type=text] {
  width: 100%;
}

.sheet-flex-row.level-number-wrapper {
  align-items: center;
  justify-content: center;
}

.sheet-flex-row.level-number-wrapper,.sheet-level-chart input {
  height: 2em;
  /* overlap the number borders */
  margin-top: -1px;
  margin-bottom: -1px;
}

.sheet-level-number {
  font-size: 1.5em;
}

.sheet-level-chart input[type=number],.sheet-eq-misc input[type=number] {
  box-shadow: 0 0 2px 0px #999 inset;
}

.sheet-bab,.sheet-fort,.sheet-ref,.sheet-ment {
  align-items: center;
}

.sheet-chart-header {
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  background-color: #FFF0C8;
  padding-left: 0.25em;
  padding-right: 0.25em;
  position: relative;
  left: -0.25em;
  width: 100%;
  /*
    border-radius: 0.5em;
    */
}

.sheet-level-numbers .sheet-chart-header {
  border-radius: 0.5em 0 0 0.5em;
}

.sheet-level-numbers input {
  width: 2em;
}

.sheet-abilities .sheet-chart-header {
  border-radius: 0 0.5em 0.5em 0;
}

.sheet-equation {
  margin-left: 0 !important;
  margin-right: 0 !important;
  flex-grow: 1;
}

.sheet-equation input,.sheet-equation div {
  /* use the equation-glue for margins */
  margin: 0;
}

.sheet-two-choices input[type=number]:disabled {
  background-color: #ABD;
}

.sheet-two-choices input[type=number]:enabled {
  background-color: #CDF;
}

.sheet-equation-glue {
  margin-left: 0.25em !important;
  margin-right: 0.25em !important;
  width: 0.6em;
  height: 2em;
  align-items: center;
  justify-content: center;
}

.sheet-equation-math {
  font-size: 1.25em;
}

.sheet-calcs {
  margin-right: 0;
}

.sheet-calcs > .sheet-flex-row {
  flex-wrap: nowrap;
}

.sheet-calc-attributes {
  margin-bottom: 0 !important;
}

.sheet-calc-attribute-header {
  align-items: center;
  font-weight: bold;
  text-align: center;
  font-size: 1.25em;
  margin-bottom: 0em !important;
  margin-top: 0.2em !important;
}

.sheet-calc-attribute-header .sheet-number-label {
  font-weight: bold;
}

.sheet-calc-header {
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  /*
    background-color: #FFF0C8;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border-radius: 0.5em;
    */
  width: 4.25em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  height: 1.6em;
  /* 2em / 1.25em */
}

.sheet-half {
  font-size: 0.9em;
}

.sheet-misc-spacer {
  display: inline-block;
  flex-grow: 1;
}

.sheet-sidebar {
  margin-left: 0;
}

/*
 * THIRD PAGE
 * */

.sheet-subsection-header {
  /*align-items: center;*/
  font-weight: bold;
  font-size: 1.25em;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 1.6em;
  /* 2em / 1.25em */
  width: 3em;
}

.sheet-equipment-name {
  width: 20%;
}

.sheet-equipment-special {
  flex-grow: 1;
}

.sheet-adventuring > div {
  flex-grow: 1;
}

.sheet-proficiencies {
  margin-left: 0;
}

.sheet-misc {
  margin-right: 0;
}

.sheet-weight-limits {
  margin-bottom: 2.05em;
}

.sheet-weight-limits .sheet-labeled-text-input {
  flex-grow: 1;
}

.sheet-wealth-and-xp .sheet-flex-col {
  flex-grow: 1;
}

.sheet-wealth-and-xp input {
  width: 100%;
}

.sheet-inventory-col {
  flex-grow: 1;
}

.sheet-inventory-col input {
  width: 100%;
}

#level-chart,#abilities,#calcs {
  flex-grow: 1;
}

input[type=text] {
  width: 100%;
}

.flex-row.level-number-wrapper {
  align-items: center;
  justify-content: center;
}

.flex-row.level-number-wrapper,#level-chart input {
  height: 2em;
  /* overlap the number borders */
  margin-top: -1px;
  margin-bottom: -1px;
}

.level-number {
  font-size: 1.5em;
}

#level-chart input[type=number],.eq-misc input[type=number] {
  box-shadow: 0 0 2px 0px #999 inset;
}

#bab,#fort,#ref,#ment {
  align-items: center;
}

.chart-header {
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  background-color: #FFF0C8;
  padding-left: 0.25em;
  padding-right: 0.25em;
  position: relative;
  left: -0.25em;
  width: 100%;
  /*
    border-radius: 0.5em;
    */
}

#level-numbers .chart-header {
  border-radius: 0.5em 0 0 0.5em;
}

#level-numbers input {
  width: 2em;
}

#abilities .chart-header {
  border-radius: 0 0.5em 0.5em 0;
}

.equation {
  margin-left: 0 !important;
  margin-right: 0 !important;
  flex-grow: 1;
}

.equation input,.equation div {
  /* use the equation-glue for margins */
  margin: 0;
}

.two-choices input[type=number] {
  background-color: #EEE;
}

.equation-math {
  font-size: 1.25em;
}

#calcs {
  margin-right: 0;
}

#calcs > .flex-row {
  flex-wrap: nowrap;
}

#calc-attributes {
  margin-bottom: 0 !important;
}

.calc-attribute-header {
  align-items: center;
  font-weight: bold;
  text-align: center;
  font-size: 1.25em;
  margin-bottom: 0em !important;
  margin-top: 0.2em !important;
}

.calc-attribute-header .number-label {
  font-weight: bold;
}

.calc-header {
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  /*
    background-color: #FFF0C8;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border-radius: 0.5em;
    */
  width: 4.25em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  height: 1.6em;
  /* 2em / 1.25em */
}

body {
  font-size: 16px;
  overflow: visible;
  margin: 0;
  padding: 0;
  font-family: Calibri;
}

/* roll20 corrections

.ui-dialog.ui-dialog-content {
    position: relative !important;
}

.root {
    padding: 0;
}

*/

/* row/col system */

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.flex-row > div,.flex-row > span {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.flex-col > div,.flex-col > span {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.flex-col > div {
  width: 100%;
}

/* text and input formatting */

.labeled-number-input,.unlabeled-number-input, {
  width: 100%;
  align-items: center;
}

.number-label {
  flex-grow: 1;
  font-size: 1.25em;
  text-align: center;
}

input {
  font-size: 1em;
  padding: 0;
}

input[type=text] {
  height: 2em;
  border: 0;
  box-shadow: 0px -2px 1px -2px #000000 inset;
  background-color: inherit;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input[type=number] {
  width: 2.5em;
  height: 2em;
  border: 0;
  box-shadow: 0 0 2px 1px inset;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.labeled-text-input input[type=text] {
  width: 100%;
}

.underlabeled-number-input {
  align-items: center;
  display: block;
  /* hacky solution for borders? */
}

.underlabeled-number-input input[type=number] {
  display: block;
  height: 2em;
}

.unlabeled-number-input input[type=text] {
  flex-grow: 1;
  width: auto;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.under-label {
  font-size: 0.9em;
  margin-bottom: 0 !important;
  text-align: center;
}

/* Rise-specific formatting */

.section-header {
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  background-color: #FFF0C8;
  padding-left: 0.25em;
  padding-right: 0.25em;
  border-radius: 0.5em;
}

.rise-title {
  font-family: "Old English Text MT";
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 0;
}

/*
 * FIRST PAGE
 * */

.skill-box {
  width: 100%;
  align-items: center;
}

.skill-box input[type=number] {
  box-shadow: 0 0 2px 1px #999 inset;
  height: 1.5em;
}

.skill-box .number-label {
  font-size: 1em;
  text-align: right;
}

/* section-specific formatting */

.boring-stuff {
  margin-top: 0.25em;
}

.boring-stuff .labeled-text-input {
  flex-grow: 1;
  flex-basis: 20%;
}

.attacks,.main-body,.resources {
  flex-grow: 1;
}

.main-body > div {
  margin-bottom: 0.52em;
}

input[type=text].passive-ability {
  width: 100%;
  /*margin-bottom: 0.5em;*/
}

.passive-ability-row > div {
  flex-grow: 1;
}

.defenses {
  margin-left: 0;
}

.hit-points {
  margin-right: 0;
}

.active-ability-name,.attack-name {
  width: 25%;
}

.active-ability-effect,.attack-effect {
  flex-grow: 1;
}

.flex-col.attribute-section {
  margin-bottom: 0.625em;
}

.flex-row.skill-box {
  margin-bottom: -1px;
}

.attribute {
  align-items: center;
}

.attribute .number-label {
  font-weight: bold;
}

.other-skills .attribute {
  font-weight: bold;
  font-size: 1.25em;
  text-align: center;
}

.constitution {
  margin-bottom: 0.25em;
}

.willpower {
  margin-bottom: 0;
}

.sidebar {
  margin-left: 1px;
}

.main-body {
  margin-right: 1px;
}

.active-ability,.attack {
  margin-bottom: 0.1em !important;
}

.other-skills .attribute {
  margin-bottom: 0;
}

.resource-row div {
  flex-grow: 1;
}

/*
 * SECOND PAGE
 * */

.level-chart,.abilities,.calcs {
  flex-grow: 1;
}

input[type=text] {
  width: 100%;
}

.flex-row.level-number-wrapper {
  align-items: center;
  justify-content: center;
}

.flex-row.level-number-wrapper,.level-chart input {
  height: 2em;
  /* overlap the number borders */
  margin-top: -1px;
  margin-bottom: -1px;
}

.level-number {
  font-size: 1.5em;
}

.level-chart input[type=number],.eq-misc input[type=number] {
  box-shadow: 0 0 2px 0px #999 inset;
}

.bab,.fort,.ref,.ment {
  align-items: center;
}

.chart-header {
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  background-color: #FFF0C8;
  padding-left: 0.25em;
  padding-right: 0.25em;
  position: relative;
  left: -0.25em;
  width: 100%;
  /*
    border-radius: 0.5em;
    */
}

.level-numbers .chart-header {
  border-radius: 0.5em 0 0 0.5em;
}

.level-numbers input {
  width: 2em;
}

.abilities .chart-header {
  border-radius: 0 0.5em 0.5em 0;
}

.equation {
  margin-left: 0 !important;
  margin-right: 0 !important;
  flex-grow: 1;
}

.equation input,.equation div {
  /* use the equation-glue for margins */
  margin: 0;
}

.two-choices .equation-glue {
  border-top: solid 2px #999;
  border-bottom: solid 2px #999;
}

.two-choices input[type=number]:disabled {
  background-color: #ABD;
}

.two-choices input[type=number]:enabled {
  background-color: #CDF;
}

.equation-glue {
  box-sizing: border-box;
  padding-left: 0.25em !important;
  padding-right: 0.25em !important;
  width: 1.1em;
  height: 2em;
  align-items: center;
  justify-content: center;
}

.equation-math {
  font-size: 1.25em;
}

.calcs {
  margin-right: 0;
}

.calcs > .flex-row {
  flex-wrap: nowrap;
}

.calc-attributes {
  margin-bottom: 0 !important;
}

.calc-attribute-header {
  align-items: center;
  font-weight: bold;
  text-align: center;
  font-size: 1.25em;
  margin-bottom: 0em !important;
  margin-top: 0.2em !important;
}

.calc-attribute-header .number-label {
  font-weight: bold;
}

.calc-header {
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  /*
    background-color: #FFF0C8;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border-radius: 0.5em;
    */
  width: 4.25em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  height: 1.6em;
  /* 2em / 1.25em */
}

.half {
  font-size: 0.8em;
}

.misc-spacer {
  display: inline-block;
  flex-grow: 1;
}

.sidebar {
  margin-left: 0;
}

/*
 * THIRD PAGE
 * */

.subsection-header {
  /*align-items: center;*/
  font-weight: bold;
  font-size: 1.25em;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 1.6em;
  /* 2em / 1.25em */
  width: 3em;
}

.equipment-name {
  width: 20%;
}

.equipment-special {
  flex-grow: 1;
}

.adventuring > div {
  flex-grow: 1;
}

.proficiencies {
  margin-left: 0;
}

.misc {
  margin-right: 0;
}

.weight-limits {
  margin-bottom: 2.05em;
}

.weight-limits .labeled-text-input {
  flex-grow: 1;
}

.wealth-and-xp .flex-col {
  flex-grow: 1;
}

.wealth-and-xp input {
  width: 100%;
}

.inventory-col {
  flex-grow: 1;
}

.inventory-col input {
  width: 100%;
}

.subsection-header {
  /*align-items: center;*/
  font-weight: bold;
  font-size: 1.25em;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 1.6em;
  /* 2em / 1.25em */
  width: 3em;
}

.equipment-name {
  width: 20%;
}

.equipment-special {
  flex-grow: 1;
}

#adventuring > div {
  flex-grow: 1;
}

#proficiencies {
  margin-left: 0;
}

#misc {
  margin-right: 0;
}

#weight-limits {
  margin-bottom: 2.05em;
}

#weight-limits .labeled-text-input {
  flex-grow: 1;
}

#wealth-and-xp .flex-col {
  flex-grow: 1;
}

#wealth-and-xp input {
  width: 100%;
}

.inventory-col {
  flex-grow: 1;
}

.inventory-col input {
  width: 100%;
}