.standard-damage {
    margin-right: 1em;

    .level-range {
      flex-basis: 2.5em;
      text-align: center;
    }

    .damage-chart {
        justify-content: space-around;
        font-size: 0.9em;
        margin-bottom: 0.5em;
    }

    .header {
        font-weight: 600;
    }
}

.vital-wound-effects {
    .flex-col {
        margin-left: 0.5em;
    }

    .header {
        font-weight: 600;
    }

    .vital-wound-chart {
        justify-content: space-around;
        font-size: 0.9em;
    }
}
