input {
    font-size: 1em;
}

.boring-row {
    .level-input {
        flex-basis: 3em;
    }
}

.first-page {
    .sidebar {
        margin-right: 0.25em;
    }
}

.second-page {
    .calc-header {
        width: 9em;
    }
    .sidebar {
        width: 37%;
    }
    .main-body {
        width: 62%;
    }
    .skill-labels {
        .skill-label {
            font-size: 1em;
        }

        .skill-row {
            .skill-training {
                width: 1em;
                padding: 0;
            }
        }
    }
}

input[type=number]:disabled::-webkit-inner-spin-button,
input[type=number]:disabled::-webkit-outer-spin-button {
    -webkit-appearance: none;
    display: none;
    margin: 0;
}

input[type=number]:disabled {
    -moz-appearance: textfield;
}

.under-label {
    font-size: 0.8em;
}

textarea {
    height: 3em;
    margin: 0;
    padding-right: 0;
    resize: none;
}

.page {
    margin-top: 0.5em;
    display: none;
    font-size: 13px;
    overflow: visible;
    font-family: Open Sans;
    margin-bottom: 1em;

    input[type=number] {
        width: 2.9em
    }
}

input[type=radio].nav-button-page1:checked ~ .first-page, input[type=radio].nav-button-page2:checked ~ .second-page, input[type=radio].nav-button-page3:checked ~ .third-page {
    display: flex;
}

input.nav-button {
    border: 0;
    opacity: 0;
    z-index: 2;
}

input.nav-button, .nav-button-label {
    height: 2em;
    width: 4em;
    padding: 0.25em;
    margin-right: 1em;
}

.nav-button-label {
    background: #FFF0C8;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.25em;
    margin-left: -4em;
    text-align: center;
}

.header-bar {
    margin-bottom: 0.5em;
}

.full-sheet {
    text-align: center;
}
