.rise-title {
    height: 1em;
}

input {
    font-size: 1em;
}

.first-page {
    .boring-row {
        .level-input {
            flex-basis: 3em;
        }
    }
}

.second-page {
    .sidebar {
        width: 40%;
    }
}

.first-page, .second-page, .third-page {
    margin-bottom: 1em;
}
