body {
    font-size: 16px;
    overflow: visible;
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

button {
    font-family: Calibri;
}

div, span {
    box-sizing: border-box;
}

/* row/col system */

.sheet-flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.sheet-flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.sheet-flex-col > div {
    width: 100%;
}

/* text and input formatting */

.sheet-labeled-number-input, .sheet-freeform-number-input {
    align-items: center;
}

.sheet-labeled-number-input .sheet-number-label {
    margin-left: 0.25em;
    margin-right: 0.25em;
    text-align: center;
}
.sheet-number-label {
    flex-grow: 1;
}

input {
    font-size: 0.8em; /* override browser default */
}

input[type=text] {
    padding-top: 0.75em;
    border: 0;
    box-shadow: 0 -2px 1px -2px #000000 inset;
    background-color: inherit;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=number], input[type=text].sheet-fake-number {
    width: 2.5em;
    border: 0;
    box-shadow: 0 0 2px 1px inset;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sheet-freeform-number-input input[type=text] {
    flex-grow: 1;
    width: auto;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.sheet-under-label {
    font-size: 0.8em;
    margin-bottom: 0;
    text-align: center;
}

input[type=text] {
    width: 100%;
}

.sheet-section-header {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

/* hackery to allow underlabels to bleed into surrounding area */
.sheet-underlabeled {
    position: relative;
    padding-bottom: 1.1em;
}
.sheet-underlabeled > .sheet-under-label {
    position: absolute;
    bottom: 0;
    white-space: nowrap;
    /* hackery to center arbitrarily sized underlabels */
    width: 4.5em;
    margin-left: -1em;
}

/* Rise-specific formatting */

.sheet-section-header {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    background-color: #FFF0C8;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border-radius: 0.5em;
}

.sheet-rise-title {
    font-family: "Old English Text MT";
    text-align: center;
    font-size: 3.5em;
    margin-top: 0;
    margin-bottom: -5px; /* no dropping letters makes this work */
}

.sheet-blank-input {
    padding-top: 0.25em;
}

input[type=number].sheet-fake-text {
    box-shadow: none !important;
    border: 0;
    border-bottom: 1px solid black;
    padding-top: 0.75em;
    width: 100%;
}


.sheet-first-page {
.sheet-skill-box {
    width: 100%;
    align-items: center;
}

.sheet-skill-box input[type=number] {
    box-shadow: 0 0 2px 1px #999 inset;
    height: 1.5em;
}

.sheet-skill-box .sheet-number-label {
    font-size: 1em;
    text-align: right;
}

.sheet-skill-box.sheet-freeform-number-input {
    justify-content: flex-end;
}

.sheet-skill-box.sheet-freeform-number-input > input[type=text] {
    flex-grow: 0;
    width: 7em;
    padding-bottom: 0;
    padding-top: 0.5em;
    margin-bottom: 0.25em;
}

.sheet-action-point-header {
    margin-bottom: 0 !important;
    text-align: center;
}

/* make resources the same height as other columns */
.sheet-core-statistics div.sheet-action-point-wrapper {
    margin-bottom: 0.1em;
}

.sheet-action-point-wrapper {
    justify-content: space-around;
}

/* section-specific formatting */

.sheet-main-body {
    flex-grow: 1;
}

.sheet-special-defenses {
    flex-grow: 1;
}

.sheet-first-page > div, .sheet-core-statistics > div, .sheet-boring-row div, .sheet-ability > div, .sheet-attack > div {
    margin-left: 0.25em;
    margin-right: 0.25em;
}
.sheet-first-page > div:first-child, .sheet-passive-ability-row > div:first-child, .sheet-core-statistics > div:first-child, .sheet-boring-row div:first-child, .sheet-active-ability > div:first-child, .sheet-attack > div:first-child {
    margin-left: 0;
}
.sheet-first-page > div:last-child, .sheet-passive-ability-row > div:last-child, .sheet-core-statistics > div:last-child, .sheet-boring-row div:last-child, .sheet-active-ability > div:last-child, .sheet-attack > div:last-child {
    margin-right: 0;
}

.sheet-passive-ability-row > div {
    flex-grow: 1;
}

.sheet-boring-row {
    .sheet-labeled-text-input {
        flex-grow: 1;
    }
    .sheet-race-input, .sheet-description-input {
        flex-grow: 2;
    }
    .sheet-level-input {
        flex-basis: 2em;
        flex-grow: 0;
    }
}

.sheet-active-ability-effect, .sheet-attack-effect {
    flex-grow: 1;
}
.sheet-active-ability-name, .sheet-attack-name {
    width: 25%;
}

.sheet-attribute {
    align-items: center;
    font-weight: bold;
    text-align: center;
}
.sheet-attribute .sheet-number-label, .sheet-attribute-header {
    font-size: 1.25em;
}

.sheet-active-ability, .sheet-attack, .sheet-defenses > div, .sheet-movement > div, .sheet-resources > div, .sheet-hit-points > div {
    margin-bottom: 0.1em;
}

.sheet-attack-info {
    margin-bottom: 0.25em;
}

.sheet-attribute {
    margin-bottom: 0.25em;
}

.sheet-passive-abilities, .sheet-core-statistics {
    margin-bottom: 0.5em;
}

.sheet-attribute-section {
    margin-bottom: 0.75em;
}
.sheet-attribute-section:nth-child(4) {
    margin-bottom: 0.4em;
}
.sheet-attribute-section:nth-child(7) {
    margin-bottom: 0.25em;
}

.sheet-resource-row div {
    flex-grow: 1;
}

.sheet-core-statistics .sheet-number-label {
    font-size: 1.25em;
}

.sheet-core-statistics .sheet-flex-row {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.sheet-attack-info {
    justify-content: space-around;
}

.sheet-attack-info .sheet-number-label {
    font-size: 1.25em;
}

.sheet-attack {
    .sheet-attack-bonus {
        width: 3em;
    }
}

.sheet-special-defenses {
    input {
        height: 2.5em;
    }
}

}

.sheet-second-page {
.sheet-abilities,
.sheet-statistics {
  flex-grow: 1;
}
.sheet-level-number {
  font-size: 1.5em;
}
.sheet-chart-header {
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  background-color: #FFF0C8;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  /*
    border-radius: 0.5em;
    */
}
.sheet-level-wrapper,
.sheet-ability-level-row {
  width: 2em;
}
.sheet-level-wrapper > .sheet-chart-header {
  border-radius: 0.5em 0 0 0.5em;
}
.sheet-name-wrapper > .sheet-chart-header {
  border-radius: 0 0.5em 0.5em 0;
}
.sheet-name-wrapper:nth-child(2) {
  margin-right: 0.25em;
}
.sheet-level-wrapper:nth-child(3) {
  margin-left: 0.25em;
}
.sheet-name-wrapper,
.sheet-ability-name-row {
  flex-grow: 1;
}
.sheet-core-calculations > div,
.sheet-core-calculations > div:first-child,
.sheet-core-calculations > div:last-child,
.sheet-equation {
  margin: 0;
  flex-grow: 1;
}
.sheet-two-choices input[type=number] {
  background-color: #EEE;
}
.sheet-equation-glue {
  display: flex;
  justify-content: center;
  height: 1.6em;
  width: 1.1em;
  text-align: center;
  align-items: center;
}
.sheet-equation-text {
  display: flex;
  justify-content: center;
  height: 1.6em;
  text-align: center;
  align-items: center;
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.sheet-equation-math {
  font-size: 1em;
}

input.sheet-equation-misc {
  width: 6em;
}

.sheet-calc-attribute-header {
  align-items: center;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  font-size: 1.25em;
}
.sheet-calc-header {
  font-weight: bold;
  width: 6.5em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.sheet-core-statistics {
  justify-content: space-around;
  margin-bottom: 0.5em !important;
}
.sheet-prowess-header {
  font-weight: bold;
}
.sheet-statistics > .sheet-flex-row {
  margin-bottom: 0.1em;
}
.sheet-calc-attributes {
  margin-right: 0.25em;
}
.sheet-main-body {
  margin-left: 1%;
  width: 57%;
}
.sheet-attributes-header {
  margin-top: 0;
  margin-bottom: 0;
}
.sheet-sidebar {
  width: 42%;
}
.sheet-calc-skills:nth-child(3) {
  margin-top: 0;
}

.sheet-skill-row {
    .sheet-underlabeled {
        padding-bottom: 0;
    }
}

.sheet-skill-row,
.sheet-skill-labels {
  justify-content: space-between;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  align-items: center;
}
.sheet-skill-labels {
  margin-top: 0.2em;
  margin-bottom: 0;
}
.sheet-skill-label {
  flex-basis: 2.5em;
  font-size: 0.8em;
  text-align: center;
}
.sheet-skill-label.sheet-misc {
  flex-basis: 6em;
}

.sheet-skill-attribute {
  font-weight: bold;
}
.sheet-skill-name {
  text-align: right;
  width: 8em;
}
.sheet-skill-attribute {
  font-weight: bold;
  text-align: center;
}
.sheet-calc-attributes .sheet-flex-row.sheet-equation {
  margin-bottom: 0.25em;
}
/* make the bottom boxes line up */
.sheet-calc-attribute-header:nth-child(2) {
  margin-top: 0.25em;
}

.sheet-adventuring {
    flex-grow: 1;

    .sheet-carrying-capacity-header {
        margin-top: 0;
    }

    .sheet-carrying-capacity {
        .sheet-section-header {
            margin-top: 0;
        }

        .sheet-labeled-text-input {
            flex-basis: 25%;
            flex-grow: 1;
        }

        .sheet-flex-row > div {
            margin-left: 0.25em;
            margin-right: 0.25em;
        }

        .sheet-flex-row > div:first-child {
            margin-left: 0;
        }
        .sheet-flex-row > div:last-child {
            margin-right: 0;
        }
    }
}

.sheet-standard-damage {
    flex-grow: 1;

    .sheet-level-range {
      flex-basis: 2.5em;
      text-align: center;
    }

    .sheet-damage-chart > .sheet-flex-col{
        flex-grow: 1;
    }

    .sheet-damage-value {
        flex-grow: 1;
    }

    .sheet-header {
        font-weight: bold;
    }
}

}

.sheet-sidebar {
    width: 15em;
    margin-right: 0.25em;
}

/* make it fit */
.sheet-sidebar .sheet-section-header {
    margin-bottom: 0.15em;
}

.sheet-main-body {
    margin-left: 0.25em;
}

.sheet-main-body {
    flex-grow: 1;
}

.sheet-subsection-header {
    /*align-items: center;*/
    font-weight: bold;
    font-size: 1.25em;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 1.6em; /* 2em / 1.25em */
    width: 4em;
}

.sheet-equipment-name, .sheet-ability-name {
    flex-grow: 1;
}

.sheet-equipment-effects, .sheet-ability-effects {
    flex-grow: 2;
}

.sheet-proficiencies {
    margin-left: 0;
}

.sheet-misc {
    margin-right: 0;
}

.sheet-wealth-and-xp .sheet-flex-col {
    flex-grow: 1;
}

.sheet-wealth-and-xp input {
    width: 100%;
}

.sheet-inventory-col {
    flex-grow: 1;
}

.sheet-inventory-col input {
    width: 100%;
}

.sheet-inventory-col, .sheet-equipment > .sheet-flex-row > div, .sheet-abilities > .sheet-flex-row > div, .sheet-wealth-and-xp > div, .sheet-summary-row > div {
    margin-left: 0.25em;
    margin-right: 0.25em;
}
.sheet-inventory-col:first-child, .sheet-equipment > .sheet-flex-row > div:first-child, .sheet-abilities > .sheet-flex-row > div:first-child, .sheet-wealth-and-xp > div:first-child, .sheet-summary-row > div:first-child {
    margin-left: 0;
}
.sheet-inventory-col:last-child, .sheet-equipment > .sheet-flex-row > div:last-child, .sheet-abilities > .sheet-flex-row > div:first-child, .sheet-wealth-and-xp > div:last-child, .sheet-summary-row > div:last-child {
    margin-right: 0;
}

.sheet-inventory, .sheet-equipment {
    margin-bottom: 0.25em;
}

.sheet-feats-summary .sheet-summary-header > div, .sheet-equipment > .sheet-flex-wrapper:nth-child(1) > div {
    margin-top: 0;
}

.sheet-summary-header > div {
    margin-bottom: 0;
}

.sheet-summary-header-level {
    border-radius: 0.5em 0 0 0.5em;
}

.sheet-summary-header-name {
    border-radius: 0 0.5em 0.5em 0;
}

.sheet-summary-row-name, .sheet-section-header:nth-child(2) {
    flex-grow: 1;
}

.sheet-summary-row-level {
    width: 2em;
}

.sheet-summary-row-level > input {
    text-align: center;
}

.sheet-feats-summary input[type=text], .sheet-abilities-summary input[type=text] {
    padding-top: 0.7em;
}

.sheet-personality .sheet-section-header:nth-child(1) {
  margin-top: 0;
  margin-bottom: 0;
}


input {
    font-size: 1em;
}

.sheet-first-page {
    .sheet-boring-row {
        .sheet-level-input {
            flex-basis: 3em;
        }
    }
}

.sheet-second-page {
    .sheet-sidebar {
        width: 40%;
    }
}


