.rise-title {
    height: 1em;
}

input {
    font-size: 1em;
}

.first-page {
    .boring-row {
        .level-input {
            flex-basis: 3em;
        }
    }
}

.second-page {
    .sidebar {
        width: 40%;
    }
    .skill-labels {
        .skill-label {
            font-size: 1em;
        }
    }
}

.first-page, .second-page, .third-page {
    margin-bottom: 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"], input[type="text"].fake-number {
    width: 2.5em !important;
}
