.abilities,
.statistics {
  flex-grow: 1;
}
.level-number {
  font-size: 1.5em;
}
.chart-header {
  font-size: 1.25em;
  font-weight: 600;
  text-align: center;
  background-color: #FFF0C8;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  /*
    border-radius: 0.5em;
    */
}
.level-wrapper,
.ability-level-row {
  width: 2em;
}
.level-wrapper > .chart-header {
  border-radius: 0.5em 0 0 0.5em;
}
.name-wrapper > .chart-header {
  border-radius: 0 0.5em 0.5em 0;
}
.name-wrapper:nth-child(2) {
  margin-right: 0.25em;
}
.level-wrapper:nth-child(3) {
  margin-left: 0.25em;
}
.name-wrapper,
.ability-name-row {
  flex-grow: 1;
}
.core-calculations > div,
.core-calculations > div:first-child,
.core-calculations > div:last-child,
.equation {
  margin: 0;
  flex-grow: 1;
}
.two-choices input[type=number] {
  background-color: #EEE;
}
.equation-glue {
  display: flex;
  justify-content: center;
  height: 1.6em;
  width: 1.1em;
  text-align: center;
  align-items: center;
}
.equation-text {
  display: flex;
  justify-content: center;
  height: 1.6em;
  text-align: center;
  align-items: center;
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.equation-math {
  font-size: 1em;
}

.calc-attribute-header {
  align-items: center;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
  font-size: 1.25em;
}
.calc-header {
  font-weight: 600;
  width: 9em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.defenses .calc-header {
  width: 3.5em;
}
.defenses input[type=number] {
    width: 2.8em;
}
.core-statistics {
  justify-content: space-around;
  margin-bottom: 0.5em !important;
}
.prowess-header {
  font-weight: 600;
}
.statistics > .flex-row {
  margin-bottom: 0.1em;
  align-items: baseline;
}
.calc-attributes {
  margin-left: 0.25em;
  flex-grow: 1;

  .calc-header {
      flex-grow: 1;
  }
}
.main-body {
  margin-left: 1%;
  width: 54%;
}
.calc-attributes .section-header, .statistics .section-header, .standard-damage .section-header {
  margin-top: 0;
}
.sidebar {
  width: 45%;

  .calc-header {
      width: 5.5em;
  }
}
.calc-skills:nth-child(3) {
  margin-top: 0;
}

.other-skills-header {
    font-size: 1.25em;
    font-weight: 600;
    text-align: center;
}

.skill-row {
    justify-content: space-between;

    .underlabeled {
        padding-bottom: 0;
    }

    .subskill-type {
        width: 4em;
    }

    .is-class-skill {
        margin-left: 1em;
        margin-right: 0.5em;
        transform: scale(1.5);
    }

    .skill-points {
        margin-right: 0.5em;
    }
}

.skill-row {
  margin-top: 0.15em;
  margin-bottom: 0.1em;
  align-items: flex-start;
}
.skill-labels {
    padding-left: 10em;
    margin-top: 0;
    margin-bottom: 0;

    .skill-label {
      font-size: 0.7em;
      text-align: center;
      margin-left: 0.4em;
      margin-right: 0.4em;
    }

    .skill-label-points {
        margin-left: 0;
    }

    .skill-label-misc {
        flex-grow: 1;
    }
}

.skill-attribute {
  font-weight: 600;
}
.skill-name {
    flex-basis: 10em;
    text-align: center;
    width: 10em;
}
.skill-attribute {
  font-weight: 600;
  text-align: center;
}
.calc-attributes .flex-row.equation {
  margin-bottom: 0.25em;
}
/* make the bottom boxes line up */
.calc-attribute-header:nth-child(2) {
  margin-top: 0.25em;
}

.adventuring {
    flex-grow: 1;
}

input[type=text].invisible-text-input {
    border: 0;
    font-family: Calibri;
    padding: 2px 0 0 0;
    text-align: center;
}

.attribute-name {
    font-weight: 600;
}

.carrying-capacity {
    input[type="number"] {
        width: 4em;
    }
}

.abilities-known-header {
    margin-top: 0;
}

.resistance-row .calc-header {
    width: 6em;
}
