#level-chart, #abilities, #calcs {
    flex-grow: 1;
}

input[type=text] {
    width: 100%;
}

.flex-row.level-number-wrapper {
    align-items: center;
    justify-content: center;
}

.flex-row.level-number-wrapper, #level-chart input {
    height: 2em;
    /* overlap the number borders */
    margin-top: -1px;
    margin-bottom: -1px;
}

.level-number {
    font-size: 1.5em;
}

#level-chart input[type=number], .eq-misc input[type=number] {
    box-shadow: 0 0 2px 0px #999 inset;
}

#bab, #fort, #ref, #ment {
    align-items: center;
}

.chart-header {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    background-color: #FFF0C8;
    padding-left: 0.25em;
    padding-right: 0.25em;
    position: relative;
    left: -0.25em;
    width: 100%;
    /*
    border-radius: 0.5em;
    */
}

#level-numbers .chart-header {
    border-radius: 0.5em 0 0 0.5em;
}

#level-numbers input {
    width: 2em;
}

#abilities .chart-header {
    border-radius: 0 0.5em 0.5em 0;
}

.equation {
    margin-left: 0 !important;
    margin-right: 0 !important;
    flex-grow: 1;
}

.equation input, .equation div {
    /* use the equation-glue for margins */
    margin: 0;
}

.this-or-that input[type=number] {
    background-color: #EEE;
}

.equation-glue {
    margin-left: 0.25em !important;
    margin-right: 0.25em !important;
    width: 0.6em;
    height: 2em;
    align-items: center;
    justify-content: center;
}

.equation-math {
    font-size: 1.25em;
}

#calcs {
    margin-right: 0;
}

#calcs > .flex-row {
    flex-wrap: nowrap;
}

#calc-attributes {
    margin-bottom: 0 !important;
}

.calc-attribute-header {
    align-items: center;
    font-weight: bold;
    text-align: center;
    font-size: 1.25em;
    margin-bottom: 0em !important;
    margin-top: 0.2em !important;

}

.calc-attribute-header .number-label {
    font-weight: bold;
}

.calc-header {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    /*
    background-color: #FFF0C8;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border-radius: 0.5em;
    */
    width: 4.25em;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    height: 1.6em; /* 2em / 1.25em */
}

.half {
    font-size: 0.9em;
}

.misc-spacer {
    display: inline-block;
    flex-grow: 1;
}

#sidebar {
    margin-left: 0;
}
