.level-chart, .abilities, .statistics {
    flex-grow: 1;
}

.level-number {
    font-size: 1.5em;
}

#level-chart input[type=number], .eq-misc input[type=number] {
    box-shadow: 0 0 2px 0 #999 inset;
}

.chart-header {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    background-color: #FFF0C8;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    /*
    border-radius: 0.5em;
    */
}


.level-wrapper, .ability-level-row {
    width: 2em;
}

.level-wrapper > .chart-header {
    border-radius: 0.5em 0 0 0.5em;
}
.name-wrapper > .chart-header {
    border-radius: 0 0.5em 0.5em 0;
}
.name-wrapper:nth-child(2) {
    margin-right: 0.25em;
}
.level-wrapper:nth-child(3) {
    margin-left: 0.25em;
}

.name-wrapper, .ability-name-row {
    flex-grow: 1;
}

.core-calculations > div, .level-chart-row > div {
    margin-left: 0.25em;
    margin-right: 0.25em;
}
.core-calculations > div:first-child, .level-chart-row > div:first-child {
    margin-left: 0;
}
.core-calculations > div:last-child, .level-chart-row > div:last-child {
    margin-right: 0;
}

.equation {
    margin: 0;
    flex-grow: 1;
}

.two-choices input[type=number] {
    background-color: #EEE;
}

.equation-glue {
    display: flex;
    justify-content: center;
    height: 2em;
    width: 1.1em;
    text-align: center;
    align-items: center;
}

.equation-math {
    font-size: 1.25em;
}

.calc-attribute-header {
    align-items: center;
    font-weight: bold;
    text-align: center;
    font-size: 1.25em;
    margin-bottom: 0;
    margin-top: 0.2em;

}

.calc-header {
    font-weight: bold;
    text-align: center;
    width: 4.25em;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    height: 1.5em;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.statistics {
    margin-top: 3px;
}

.statistics > .flex-row {
    margin-bottom: 0.1em;
}
