/* This whole page will only be used for paper sheets */
.paper {
  .abilities,
  .statistics {
    flex-grow: 1;
  }
  .defenses .calc-header {
    width: 75px;
  }
  .statistics > .flex-row,
  .calc-attributes > .flex-row,
  .sidebar > .flex-row,
  .defenses > .flex-row {
    margin-bottom: 0.5em;
    align-items: baseline;
  }
  .calc-attributes {
    margin-left: 0.25em;
    flex-grow: 1;

    .attribute-calc {
      align-items: baseline;
    }

    .calc-header {
      flex-grow: 1;
    }
  }
  .main-body {
    margin-left: 1%;
    width: 55%;
  }
  .calc-attributes .section-header,
  .statistics .section-header:nth-child(1) {
    margin-top: 0;
  }
  .sidebar {
    width: 44%;

    .calc-header {
      width: 6.5em;
    }
  }

  .weight-limits {
    input[type="text"] {
      width: 8.5em;
    }
  }

  /* use normal width boxes for equation results */
  .equation-result > input[type="number"] {
    width: 30px !important;
  }
}
