.debuff-active-label {
    display: inline;
    font-size: 12px;
    font-weight: normal;
    width: 10em;

    > input {
        vertical-align: initial;
    }

    > span {
        margin-left: 0.2em;
    }

    .unrepresentable-debuff {
        font-style: italic;
    }
}

.vital-wound-effect {
    flex-grow: 1;
}

.standard-modifiers {
    > div {
        margin-left: 0.25em;
        margin-right: 0.25em;
    }

    .debuffs {
        justify-content: space-between;
    }

    .vital-wounds {
        flex-grow: 1;

        .vital-roll-row {
            justify-content: center;
            margin-bottom: 0.5em;

            button {
                margin-right: 0.25em;
            }
        }

        .vital-wound-roll {
            margin-right: 0.5em;
        }
    }
}
