.subsection-header {
    /*align-items: center;*/
    font-weight: bold;
    font-size: 1.25em;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 1.6em; /* 2em / 1.25em */
    width: 4em;
}

.equipment-name {
    width: 20%;
}

.equipment-special {
    flex-grow: 1;
}

.adventuring > div {
    flex-grow: 1;
}

.proficiencies {
    margin-left: 0;
}

.misc {
    margin-right: 0;
}

.weight-limits {
    margin-bottom: 1.25em;
}

.weight-limits .labeled-text-input {
    flex-grow: 1;
}

.wealth-and-xp .flex-col {
    flex-grow: 1;
}

.wealth-and-xp input {
    width: 100%;
}

.inventory-col {
    flex-grow: 1;
}

.inventory-col input {
    width: 100%;
}

/* undo the hackery because these number inputs should occupy space */
.equipment .underlabeled-number-input {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.equipment .underlabeled-number-input .under-label {
    position: static;
}


.inventory-col, .adventuring > div, .equipment > .flex-row > div, .wealth-and-xp > div, .weight-limits > div {
    margin-left: 0.25em;
    margin-right: 0.25em;
}
.inventory-col:first-child, .adventuring > div:first-child, .equipment > .flex-row > div:first-child, .wealth-and-xp > div:first-child, .weight-limits > div:first-child {
    margin-left: 0;
}
.inventory-col:last-child, .adventuring > div:last-child, .equipment > .flex-row > div:last-child, .wealth-and-xp > div:last-child, .weight-limits > div:last-child {
    margin-right: 0;
}

.inventory, .equipment {
    margin-bottom: 0.5em;
}

.underlabeled-number-input {
    padding-bottom: 0;
}
